.qr-code-scanner {
  margin-top: 10px;
  &.no-camera-available {
    .qr-code-stream {
      display: none;
    }
  }
  .qr-init-error {
    font-weight: bold;
    color: #e9943f;
  }
}
@media only screen and (max-width: 600px) {
  .scan-qr-dialog {
    .md-dialog-container {
      max-width: 96%;
      width: 96%;
    }
  }
}