.response {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  &.response-success {
    color: #b5121b;
  }
  &.response-error {
    color: #e9943f;
  }
}
.rq-spinner-container {
  float: right;
  height: 36px;
}
.md-autocomplete {
  &.has-error {
    &::after {
      background-color: #e9943f;
    }
  }
  .md-helper-text {
    &.has-error {
      color: #e9943f;
    }
  }
}
.package-id-selected {
  margin-left: 5px;
  font-weight: bold;
}