@import "../../variables";

.md-card-header {
  padding: 12px 16px;
  background: $accentColor;
  color: white;
  .md-title {
    margin-top: 0 !important;
    font-size: 19px;
  }
}
.md-dialog-title {
  padding: 12px 16px;
  background: $accentColor;
  color: white;
  .md-title {
    margin-top: 0;
    font-size: 19px;
  }
}
.md-table-toolbar {
  padding: 12px 16px !important;
  background: $accentColor !important;
  .md-title {
    margin-top: 0 !important;
    font-size: 19px;
    color: white !important;
  }
}
.md-dialog-content {
  padding-bottom: 8px !important;
}
.dialog-data-locked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}
.md-card-content {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.md-field {
  margin-bottom: 12px;
}
.response {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  &.response-success {
    color: #0ba525;
  }
  &.response-error {
    color: red;
  }
}
.response-container {
  min-height: 30px;
  .response {
    margin-top: 0;
  }
}
.rq-spinner-container {
  float: right;
  height: 36px;
}

.crop-list-container {
  margin-top: 12px;
  .md-table-row {
    cursor: pointer;
  }
}

.md-card {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.trace-view-locked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.barcode-btn {
  position: absolute;
  top: 10px;
  right: -4px;
}

.hide-on-mobile {
  display: block;
}
.mobile-only {
  display: none;
  .md-table-cell-container {
    background: red;
  }
}

@media screen and (max-width: 457px) {
  .hide-on-mobile {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}