.barcode-dialog-container {
  .barcode-scanner {
    margin-top: 10px;
    height: 480px;
    max-height: 53vh;
  }
}
@media only screen and (max-width: 600px) {
  .scan-barcode-dialog {
    .md-dialog-container {
      // max-width: 96% !important;
    }
  }
}